*.class

# Package Files #
*.jar
*.war
*.ear
*.env

#Gradle temporary files
**/target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project

#IntelliJ files
**/*.iml
**/.idea
**/.gradle

env/.env

